@import 'mixins';

.gifts {
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: var(--color-white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: url('../../../../assets/images/bg-garland-gifts.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-red);

  &__inner {
    width: 100%;
    padding: 50px 0 10px 0;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 5.76px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 12px 0;
    
    @include _420-block {
      font-size: 30px;
    }
  }


}