$desktop: 1276px;
$tablet: 752px;
$mobile: 364px;


@mixin respond($breakpoint) {
  @if $breakpoint ==desktop {
    @media (max-width: #{$desktop}) {
      @content;
    }
  }

  @else if $breakpoint ==tablet {
    @media (max-width: #{$tablet}) {
      @content;
    }
  }

  @else if $breakpoint ==mobile {
    @media (max-width: #{$mobile}) {
      @content;
    }
  }
}