:root {
  --color-red: #ff4646;
  --color-red10: rgba(255, 70, 70, 0.1);
  --color-dark-blue: #181c29;
  --color-white: #ffffff;
  --color-light-gray: rgb(255, 255, 255, 0.4);
  --color-dark-gray: rgb(255, 255, 255, 0.2);
  --color-blue: #4361ff;
  --color-pink: #ff43f7;
  --color-content-bg: #ecf3f8;
  --color-green: #06a44f;
  --color-overlay: rgb(24, 28, 41, 0.8);
}
