:root {
  --color-red: #FF4646;
  --color-red10: rgba(255, 70, 70, 0.10);
  --color-dark-blue: #181C29;
  --color-white: #FFFFFF;
  --color-light-gray: rgb(255, 255, 255, 0.40);
  --color-dark-gray: rgb(255, 255, 255, 0.20);
  --color-blue: #4361FF;
  --color-pink: #FF43F7;
  --color-content-bg: #ECF3F8;
  --color-green: #06A44F;
  --color-overlay: rgb(24, 28, 41, 0.80);

}

