:root {
  --color-red: #FF4646;
  --color-red10: rgba(255, 70, 70, 0.10);
  --color-dark-blue: #181C29;
  --color-white: #FFFFFF;
  --color-light-gray: rgb(255, 255, 255, 0.40);
  --color-dark-gray: rgb(255, 255, 255, 0.20);
  --color-blue: #4361FF;
  --color-pink: #FF43F7;
  --color-content-bg: #ECF3F8;
  --color-overlay: rgb(24, 28, 41, 0.80);

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.2);

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
}

