@import 'mixins';

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--color-dark-blue);

  @include _768-block {
    font-size: 12px;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--color-red);
    }

    img {
      margin-right: 8px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--color-red);
      background-color: var(--color-red10);
      border-radius: 20px;
    }
  }
}

app-burger-menu {
  display: none;
}

@media (max-width: 768px) {
  app-burger-menu {
    display: block;
  }
  .menu__list {
    display: none;
  }
}
