@import 'mixins';

.search-bar {
  background-color: var(--color-red);
  
  &__inner {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    @include _576-block {
      justify-content: center;
    }
  }
  &__input {
    width: 380px;
    background-color: var(--color-red);
    border: 1px solid var(--color-light-gray);
    border-radius: 17px;
    padding: 8px 10px;
    outline: none;
    
    @include _576-block {
      width: 100%;
    }
    
    &-wrapper {
      position: relative;
    }
    
    &-icon {
      color: var(--color-white);
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &:focus {
      color: var(--color-white);
      border: 1px solid var(--color-white);
      outline: none;
    }
    &::placeholder {
      color: var(--color-light-gray);
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }
}