@import 'mixins';

.about-page {
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: var(--color-white);
  border-radius: 20px;
  background: url('/assets/images/bg-snow-slider-giftPreview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-red);

  &__bg {
    width: 100%;
    height: 100%;
    padding: 70px 0;
    background: url('/assets/images/bg-ball-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include _420-block {
      padding: 50px 0;
    }
  }

  &__inner {
    width: 100%;
    // outline: 1px solid red;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3.84px;
    line-height: 1.52;
    text-transform: uppercase;
    margin: 12px 0;
  }

  &__subtitle {
    font-family: Allura, sans-serif;
    color: var(--color-red);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1;
    margin-bottom: 20px;
    
    @include _768-block {
      font-size: 20px;
    }
  }
  
  &__text {
    font-family: Allura, sans-serif;
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1;
    
    @include _768-block {
      font-size: 14px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
    @include _768-block {
      gap: 20px;
    }
  }
  
  &__first, &__second {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 60px;
    
    @include _768-block {
      gap: 20px;
    }
  }
  
  &__wrapper {
    width: 50%;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 42px 60px;
    
    @include _768-block {
      padding: 20px 30px;
    }
    
    @include _420-block {
      width: 90%;
    }
  }
  
  &__img {
    display: block;
    width: 25%;
    border-radius: 20px;
    
    @include _420-block {
      display: none;
    }
  }
}