@import 'mixins';

.slider {
  font-family: Montserrat, sans-serif;
  color: var(--color-white);
  text-align: center;
  background: url('../../../../assets/images/bg-snow-slider-giftPreview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-red);
  padding: 60px 82px;

  @include _768-block {
    padding: 60px 8px;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.52;
    letter-spacing: 3.84px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: Allura, sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1;
    margin-bottom: 12px;
  }

  &__container {
    width: 100%;
    margin: 20px 0;
    overflow: hidden;

    &-inner {
      position: relative;
      transition: 0.5s ease;
      left: 0;
      width: 2000px;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    &-title {
      text-transform: uppercase;
      font-size: 80px;
      font-weight: 600;
      line-height: auto;
      letter-spacing: 0;
      padding: 15px;
    }

    &-img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 20px;
  }

  &__btn {
    color: var(--color-light-gray);
    outline: none;
    width: 56px;
    height: 56px;
    border-radius: 20px;
    padding: 28px;
    border: 1px solid var(--color-light-gray);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border: 1px solid var(--color-white);
      color: var(--color-white);
    }
  }
}
