@import 'mixins';

.category-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  // padding-bottom: 15px;
  background-color: var(--color-red);
  color: var(--color-white);
  
  @include _576-block {
    padding: 0 12px;
  }

  &__list {
    width: 474px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    
  @include _576-block {
    width: 100%;
  }
  @include _420-block {
    width: 80%;
  }
  }

  &__item {
    padding: 12px 20px;
    cursor: pointer;
    background-color: var(--color-red);
    border-radius: 20px;
    transition: 0.3s;
    outline: none;
    
    @include _576-block {
      padding: 10px 5px;
    }
    

    &:hover {
      background-color: var(--color-white);
      border-radius: 20px;
      color: var(--color-red);
    }
  }
}